html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

::-webkit-scrollbar {
  display: none;
}

body{
  overflow-x: hidden;
}

.App {
  padding-left:124.44px;
  padding-right:124.44px;
}

.todo{
  width: 100vw;
  background: linear-gradient(117.3deg, rgba(80,94,97,1) 12.8%, rgba(183,164,147,1) 105.26%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float-appear {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.inicios {
  animation: float-appear 1s ease forwards;
}

.main{
  width: 49vw;
  animation: float-appear 1s ease forwards;
  opacity: 0;
  animation-delay: 0.5s;
}

/* height = x * 720 / 982
vh = x * 100 / 720
vw = x * 100 / 1280
width = x * 1280 / 1512  */

.name{
  font-family: "NunitoSans";
  font-weight: 800;
  color:#FCFBFD;
  font-size: 5.85vw;
  margin-top: 5.85vw;
}

.title{
  font-family: "NunitoSans";
  font-weight: 600;
  color:#FCFBFD;
  font-size: 2.93vw;
  margin-top: -10.1vh;
}

.info{
  font-family: "NunitoSans";
  font-weight: 600;
  color:#FCFBFD;
  font-size:3.45vh;
  margin-top: 5.65vh;
}

.divInfo{
  width: 44vw;
}

.divBtns{
  width: 280px;
  display: flex;
  flex-direction: row;
  margin-left: 27px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}


.boton{
  font-family: "NunitoSans";
  font-weight: 400;
  color:#FCFBFD;
  font-size:21px;
}

.btn{
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.btn:hover hr{
  animation: grow 0.3s ease-in-out 1;
  animation-iteration-count: 1;
  transition: 0.3s;
}


@keyframes grow {
  0%{
    width: 0%;
  }
  100%{
    width: 95%;
  }
}

hr{
  border-radius: 5px;
  border:0px;
  height: 3px;
  background-color: #FCFBFD;
  width: 95%;
  margin-top: -20px;
}

.both{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.carouselContainer{
  /* background-color: green; */
  width: 350px;
}

.carousel{
  /* background-color: blue; */
  margin-top: 45%;
  height: 400px;
  align-content: center;
}

.itemContainer{
  width: 90%;
  height: 70%;
  border-radius: 15px;
  background: rgba(80, 94, 97, 0.05);
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.24);
  padding: 15px;
  /* animation: shadow 2s ease-in infinite; */
  animation: elevate 0.6s ease-in-out 1;
  transition: 0.3s;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: both;
}
.itemContainer:hover{
  width: 90%;
  height: 70%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.084);
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.24);
  padding: 15px;
  /* animation: shadow 2s ease-in infinite; */
  transition: 0.5s;
}



@keyframes elevate {
  0%{
    opacity: 0;
    margin-top: 0%;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.24);
  }
  25%{
    margin-top: -5%;
    box-shadow: 0px 15px 17px rgba(0, 0, 0, 0.24);
  }
  50%{
    opacity: 1;
    margin-top: 0%;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.24);
  }
  75%{
    opacity: 1;
    margin-top: -5%;
    box-shadow: 0px 15px 17px rgba(0, 0, 0, 0.24);
  }
  100%{
    opacity: 1;
    margin-top: 0%;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.24);
  }
}

.itemContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.arrows{
  flex-direction: row;
  display: flex;
  /* background-color: red; */
  width: 60%;
  margin-left: 19.5%;
  justify-content: space-around;
  user-select: none;
  animation: float-appear 1s ease forwards;
  opacity: 0;
  animation-delay: 0.5s;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.arrow{
  background-color: rgba(217, 217, 217, 0.18);
  width: 25%;
  height: 55px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow:hover{
  background-color: rgba(217, 217, 217, 0.6);
  width: 25%;
  height: 55px;
  border-radius: 45px;
  cursor: pointer;
  transition: 500ms;
}

.arrow p{
  text-align: center;
  margin-top: 19%;
  font-family: "NunitoSans";
  font-weight: 700;
  color:#FCFBFD;
  font-size:25px;
}

.proyectos{
  height: 99vh;
  /* background-color: #61dafb41; */
  padding-top: 1vh;
}

.pTitle{
  margin-left: 4vw;
}

.ptTxt{
  font-family: "NunitoSans";
  color:#FCFBFD;
  font-size: 39px;
  font-weight: 300;
}

.pBody{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-right: 5vw;
  margin-top: 7vh;
}

.pbI{
  /* background-color: firebrick; */
  width: 35vw;
  height: 69vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  overflow: hidden;
  margin-left: 1vw
}

.pbI img{
  object-fit:contain;
  max-height: 90%;
  max-width: 80%;
}

.pbP{
  /* background-color: rgb(34, 178, 116); */
  width: 57vw;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.pbpN{
  /* background-color: plum; */
  width: 46vw;
  text-align: center;
  margin-right: 5vw;
}

.pbpnT{
  font-family: "Play";
  font-size: 42px;
  font-weight: 700;
  color: #FCFBFD;
  margin-top: 1vh;
}

.pbpnTxt{
  font-family: "NunitoSans";
  font-size: 24px;
  font-weight: 700;
  color: #FCFBFD;
}

.pbpF{
  /* background-color: darkslategray; */
  padding-top: 30vh;
}

.pbpF .chevron2{
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  vertical-align:middle;
}

.pbpF .chevron2:hover{
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
}

.centered {
  position:absolute;
  top: 50%;
  left: 61%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 46vw;
  height: 50vh;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalContent {
  font-size: 14px;
  text-align: center;
}

.contacto{
  height: 99vh;
  width: 100vw;
  /* background-color: rgba(0, 255, 255, 0.071); */
  padding-top: 1vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

.contacto a{
  text-decoration: none;
  font-family: "NunitoSans";
  font-weight: 200;
  color:#FCFBFD;
  font-size: 36px;
}

.contacto h1{
  font-family: "NunitoSans";
  font-weight: 300;
  color:#FCFBFD;
  font-size: 73px;
}

.cBody{
  /* background-color: rgba(94, 187, 23, 0.589); */
  width: 60vw;
  margin-left: 3vw;
  margin-top: 10vh;
}
.cb1{
  flex-direction: row;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  align-content: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}


.cb1T{
  margin-left: 5vw;
  padding:1vh;
  border-radius: 15px;
  transition: 0.3s;
}
.cb1T:hover{
  margin-left: 5vw;
  padding:1vh;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.128);
  transition: 0.3s;
}

.chevron{
  padding: 1vh;
  width:fit-content;
  border-radius: 45px;
  margin-left: 80vw;
  cursor: pointer;
  transition: 0.3s;
}
.chevron:hover{
  padding: 1vh;
  width:fit-content;
  border-radius: 45px;
  margin-left: 80vw;
  background-color: rgba(0, 0, 0, 0.125);
  transition: 0.3s;
  cursor: pointer;
}

.chevron2{
  width:fit-content;
  height:fit-content;
}

.cb1 .copiado{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}







/* height = x * 720 / 982
vh = x * 100 / 720
vw = x * 100 / 1280
width = x * 1280 / 1512  */